.holder
  p Test out various settings by clicking the buttons below. Some of the buttons will provide feedback of what happened in the green area below.
  p
    .actionResult
  p To create a modal that is deconstructed upon close
    button.btn.launch-d-btn Click Here
  p To create a modal that is hidden upon close
    button.btn.launch-h-btn Click Here
  p Use these buttons to test the existance of the modal:
  p
    button.btn.show-btn Show Modal
  p
    button.btn.destroy-btn Deconstruct Modal
  p This modal uses a custom callback on the button:
    button.btn.launch-q-btn Click Here
  p This modal has a next button to browse pages within the modal:
    button.btn.launch-n-btn Click Here
