.modal-styled-overlay
.modal-styled-body
  if( title )
    h1.modal-styled-title #{title}
  .modal-styled-content
  if( buttons.length )
    .modal-styled-controls
      each button in buttons
        button.btn.modal-styled-btn(class=button.className) #{button.text}
